
AmberShop.xcodeproj/xcuserdata/kirill.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/
AmberShop.xcworkspace/xcuserdata/kyrylochernov.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AmberShop.xcworkspace/xcuserdata/kirill.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
AmberShop.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
AmberShop.xcworkspace/contents.xcworkspacedata
